@import "./../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}

.Balances{

    overflow: auto;
    padding-bottom: 100px;

    &__intro {
        color: $mainColor;
        width: 500px;
        height: 1000px;
        position: absolute;
        text-align: center;
        top: 65%;
        left: 35%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 45px;
    }  

    &__Chart {
        margin-left: 75%;
    }

    &__Card {
        margin-left: 65%;
        padding-top: 15%;

        img{
            height: 250px;
            width: 250px;
            
        }
    }

    &__Text{
        margin-left: 10%;
        padding-top: 2%;
        color:rgb(146, 132, 223);
        font-family: 'Montserrat'!important;

        h1{
            font-family: 'Montserrat'!important;
        }
        h2{
            padding-left: 9%;
            font-size: 20px !important;
        }
        tbody{
            padding-left: 2% !important;
            tr{
                td{
                    padding-left: 5%;
                    font-style: italic;
                    font-weight: 600;
                }
            }
        }
    }

}