@import "./../styles/variables.scss";

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}

img{
    height: 1000px;
    width: 1200px;
    
}

.hero{

    overflow: auto;
    padding-bottom: 100px;

    &__intro {
        color: $mainColor;
        position: absolute;
        text-align: center;
        top: 49%;
        left: 78%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 30px;
    }

    
    &__buttons{
        border: none;
        font-family: inherit;
        font-size: 150%;
        padding: 15px 32px;;
        margin: 0;
        color: $mainColor;
        background-color: $navColor;
        margin-top: 50px;
        }

    &__content {
           
            bottom: -5%;
            width: 100%;
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
    &__circle{
        background: $navColor;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin: 250px;
    }


    }

    

}