@import "./../styles/variables.scss";

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}

.Investments{

    overflow: auto;
    padding-bottom: 100px;

    &__intro {
        color: $mainColor;
        position: absolute;
        text-align: center;
        top: 42%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 45px;
    }  

}