@import "./../styles/variables.scss";

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}

.Investments{

    overflow: auto;
    padding-bottom: 100px;

    &__intro {
        color: $mainColor;
        position: absolute;
        text-align: center;
        top: 42%;
        left: 45%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 45px;
    }

    &__titles {
        font-size: 35px;
        color: rgb(169, 118, 235);
        margin-right: 65%;
    }
    
div.tablediv{
    overflow: auto;
    align-items: center;
    align-self: center;
    border-collapse: collapse;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
   
}
  
  tr td {
    text-align: left;
    width: 50%;
  }

  h1 {
      color: white;
  }

}