@import "./../styles/variables.scss";

video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}

.Loans{

    overflow: auto;
    padding-bottom: 100px;

    &__intro {
        color: $mainColor;
        position: absolute;
        text-align: center;
        top: 42%;
        width: 750px;
        height: 450px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 45px;

        h1{
            margin-top: -5%;
            padding-bottom: 2%;
            font-size: 60px;
        }

        Card{
            margin-left: 10%;
        }
    }
    
    &__stats {
        top: 10%;
        h1{
            margin-top: 3%;
            margin-right: 85%;
            font-size: 25px;
            color: rgb(187, 178, 235);
        }
        tbody{
            tr{
                td{
                    font-size: 25px;
                    padding: 0;
                    color: rgb(187, 178, 235);
                }
            }
        }
    }

 
    

}