body {
    background-color: white;
    color: black;
  }
  
  .empty-navbar {
    height: 100px;
  }
  
  .transactions-title {
      margin-top: 2%;
      color: white;
    text-align: center;
    font-size: 24px;
  }
  
  .transactions-data {
    display: flex;
    justify-content: space-around;
  }
  
  .transactions-table {
    border-collapse: collapse;
    margin: 25px 0;
    color: white;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(250, 245, 245, 0.15);
  }
  
  .transactions-table thead tr {
    background-color: #622ea6;
    color: #ffffff;
    text-align: left;
  }
  
  .transactions-table th,
  .transactions-table td {
    padding: 12px 15px;
  }
  
  .transactions-table tbody tr {
    background-color: #9761dd;
    border-bottom: 1px solid #dddddd;
  }
  
  .transactions-table tbody tr:nth-of-type(even) {
    background-color: #222629;
  }

  .transactions-table tbody tr:nth-of-type(odd) {
    background-color: #000000;
  }
  